version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    
    container_name: areklamowa-prod

    ports:
      - "8080:80" 
      
    restart: unless-stopped
